<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img  src="{{ "/assets/" | append: site.author.image | relative_url }}" alt="{{ site.title }}" class="circle-image wow animate__animated animate__fadeInDown" data-wow-delay=".2s">
      </div>
    </div>
    <div id="container" class="text-muted wow animate__animated animate__fadeInDown" data-wow-delay=".15s" >
      {% include social.html %}
      <p>{{ site.description }}</p>
    </div>
  </div>
</div>



<div class="text-muted wow animate__animated animate__fadeInUp" data-wow-delay=".15s">
<div class="col mt-4">
  <div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1><span>My Career</span></h1>
        <br>
    </div>
</div>

{% include timeline.html %}
{% include timeline_responsive.html %}

</div>
</div>
<br>
<div class="text-muted justify-content-center align-items-center p-4 wow animate__animated animate__fadeInUp" data-wow-delay=".18s">
  <div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1><span>My Skills</span></h1>
        <br>
    </div>
    {% include about/skills.html title="DevOps Skills" source=site.data.devops-skills %}
    {% include about/skills.html title="Coding Skills" source=site.data.coding-skills %}
  </div>
</div>
